@{
    ViewData["Title"] = "Página Inicial - Informações Cadastrais";
}

<div class="text-center">
    <h2 class="display-4">Boas-vindas ao Módulo de Informações Cadastrais!</h1>
    <h5>Acesse as funcionalidades utilizando as opções no menu superior.</h5>
</div>
